<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="20px">
    <div fxFlex.gt-sm="33%" fxFlex.gt-xs="100%">

    </div>
    <div fxFlex.gt-sm="33%" fxFlex.gt-xs="100%">
        <img src="assets/logo.png" alt="Centered Image" style="display: block; margin: 0 auto;"> <!-- Add this line -->
    </div>
    <div fxFlex.gt-sm="33%" fxFlex.gt-xs="100%">
    </div>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="20px">
    <div fxFlex.gt-sm="33%" fxFlex.gt-xs="100%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-icon>home</mat-icon> Reclutadores
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Genera ofertas de empleo para la industria TI con ayuda de la ontologia para el reclutamiento.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary" routerLink="/job-list">Agregar ofertas</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="33%" fxFlex.gt-xs="100%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-icon>work</mat-icon> Empleos
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Ingresa tus skills y acreditaciones y obten ofertas de empleo con ayuda de la ontologia para el
                    reclutamiento.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary">Buscar Empleo</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="33%" fxFlex.gt-xs="100%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-icon>star</mat-icon> Consulta Sparql
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Realiza consultas sparql directamente a la ontologia OWF/RDF y obten cualquier resultado del modelo</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary">Consultar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div fxLayout="row" style="margin-top:30px;" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">

    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" style="display: flex;">
      <img src="assets/it-woman.jpg" alt="Centered Image" style="max-width: 100%; height: 100%; margin: auto;">
    </div>
  
    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" style="display: flex; flex-direction: column;">
      <mat-card style="flex: 1;">
        <mat-card-header>
          <mat-card-title>
            Sin ser experto en IT
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Los resultados con el modelo RDF han sido estupendos es mucho mas sencillo y estandarizado tener un skillset relacionado con las ocupaciones de la NAS</p>
          <img src="assets/ontology.png" alt="Centered Image" style="margin-top:5px;max-width: 100%; height: auto; margin: auto;">
        </mat-card-content>

      </mat-card>
    </div>
  
  </div>